<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.0.0.min.js"></script>

<style>
    .col-6{
        color:#fff;
        padding-top:20px;
    }
    .col-6 h3 {
       padding-top:25px;
       padding-left:80px;
    }
        .col-6 p {
            padding-left: 80px;
        }
        .TB{
            padding-top:50px;
            padding-left:40px
        }
</style>

<div class="container-fluid" style="background-color: #808080;height:300px;padding-top:20px;">
    <div class="row">
        <div class="col-6">
            <h3>某省某市包满意服务有限公司</h3>
            <p>电话：0760-22517081 传真：0760-86744123</p>
            <p>Email：service</p>
            <p>地址：某省某市中心广场王府井B座16号</p>
            <p>© 2019 版权所有</p>
        </div>
        <div class="col-6 TB">
            <img src="~/image/erweima.png" style="width:200px;height:200px;" />
        </div>
    </div>
</div>
